.Projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: fade-in-left 1s forwards;
  z-index: 1;


  h1 {
    margin: 0;
  }

  .buttons {
    display: flex;
    width: 75%;
    justify-content: space-evenly;

    .disabled {
      opacity: 0.25;
      pointer-events: none;
      cursor: not-allowed;
    }

    .aws-btn {
      --button-default-height: 50px;
      --button-default-font-size: 14px;
      --button-default-border-radius: 6px;
      --button-horizontal-padding: 20px;
      --button-raise-level: 9px;
      --button-hover-pressure: 2;
      --transform-speed: 0.185s;
      --button-primary-color: #475472;
      --button-primary-color-dark: #2a3143;
      --button-primary-color-light: #d4d9e4;
      --button-primary-color-hover: #424e6a;
      --button-primary-border: none;
      --button-secondary-color: #fffc6c;
      --button-secondary-color-dark: #b9b500;
      --button-secondary-color-light: #6c6a00;
      --button-secondary-color-hover: #fffb3e;
      --button-secondary-border: none;
      --button-anchor-color: #f3c8ad;
      --button-anchor-color-dark: #734922;
      --button-anchor-color-light: #4c3016;
      --button-anchor-color-hover: #f1bfa0;
      --button-anchor-border: 1px solid #8c633c;
      margin: 0px .5rem;
    }
  }

  .active-project {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
    width: 75%;
    height: 65%;
    border-radius: 15px;
    background-color: rgba(25, 25, 25, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.2);
    animation: fade-in-left 2s;

    .project-title {
      font-size: 1.75rem;
      width: 100%;
      height: max-content;
      color: white;
      margin: 1rem 0;
    }

    .project-container {
      display: flex;

      .project-image {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 50%;
        margin: auto;

        .active-project-image {
          height: auto;
          margin: 0 auto;
          max-height: 90%;
          max-width: 80%;
        }
      }
    }

    .active-project-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;

      .active-project-tech {
        display: flex;
        flex-direction: column;
        align-items: center;

        .project-tech-list {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          justify-content: center;
          width: 100%;
          overflow: hidden;
          padding: 0;
          margin: 0;

          .project-tech-item {
            margin: 0.25rem;
            padding: 0.25rem;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            height: max-content;
          }
        }
      }

      .project-description {
        width: 90%;
        color: white;
        font-size: 1.25rem;
      }

      .active-project-buttons {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        .aws-btn {
          --button-default-height: 75px;
          --button-default-font-size: 14px;
          --button-default-border-radius: 6px;
          --button-horizontal-padding: 20px;
          --button-raise-level: 9px;
          --button-hover-pressure: 2;
          --transform-speed: 0.185s;
          --button-primary-color: #475472;
          --button-primary-color-dark: #2a3143;
          --button-primary-color-light: #d4d9e4;
          --button-primary-color-hover: #424e6a;
          --button-primary-border: none;
          --button-secondary-color: #fffc6c;
          --button-secondary-color-dark: #b9b500;
          --button-secondary-color-light: #6c6a00;
          --button-secondary-color-hover: #fffb3e;
          --button-secondary-border: none;
          --button-anchor-color: #f3c8ad;
          --button-anchor-color-dark: #734922;
          --button-anchor-color-light: #4c3016;
          --button-anchor-color-hover: #f1bfa0;
          --button-anchor-border: 1px solid #8c633c;
          margin: 0px .5rem;
        }
      }
    }
  }

  .active-project.prev {
    animation: fade-in-right 2s;
  }
  .active-project.next {
    animation: fade-in-left 2s;
  }
}

@media screen and (max-width: 800px) {
  .Projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fade-in-left 1s forwards;
    z-index: 1;

    .buttons {
      width: 90%;
      display: flex;
      justify-content: space-evenly;

      .disabled {
        opacity: 0.25;
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    .active-project {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      width: 90%;
      height: 70%;
      border-radius: 15px;
      background-color: rgba(25, 25, 25, 0.25);
      animation: fade-in-left 2s;

      .project-title {
        font-size: 1.5rem;
        width: 100%;
        height: max-content;
        color: white;
        position: relative;
        
        &:after {
          display: flex;
          justify-content: center;
          
          content: '';
          text-align: center;
          width: 80%;
          position: absolute;
          left: 10%;
          bottom: -10px;
          border-color: rgba(255, 255, 255, 0.5);
          border-width: 0 0 3px;
          border-style: solid;
        }
      }

      .project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
        overflow-y: scroll;
        margin: 0;

        .project-image {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          width: 90%;
          margin: 1rem auto;

          .active-project-image {
            height: auto;
            margin: 0 auto;
            max-height: 90%;
            max-width: 80%;
          }
        }
      }

      .active-project-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;

        .active-project-tech {
          display: flex;
          flex-direction: column;

          .project-tech-list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            width: 90%;
            overflow-y: scroll;
            padding: 0;

            .project-tech-item {
              color: white;
              border: 1px solid white;
              border-radius: 5px;
              height: max-content;
            }
          }
        }

        .project-description {
          width: 90%;
          color: white;
          font-size: 1rem;
        }

        .active-project-buttons {
          width: 90%;
          display: flex;
          justify-content: space-between;
          height: 15rem;
          margin: 1rem 0;

          .project-button.aws-btn {
            height: 60px;
            --button-default-height: 60px;
          }
        }
      }
    }

    .active-project.prev {
      animation: fade-in-right 2s;
    }
    .active-project.next {
      animation: fade-in-left 2s;
    }
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
