.Resume {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  .resume-container {
    height: 90%;
    margin-top: 5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .aws-btn {
      --button-default-height: 48px;
      --button-default-font-size: 14px;
      --button-default-border-radius: 6px;
      --button-horizontal-padding: 20px;
      --button-raise-level: 9px;
      --button-hover-pressure: 2;
      --transform-speed: 0.185s;
      --button-primary-color: #426C75;
      --button-primary-color-dark: #4B4B4B;
      --button-primary-color-light: #d4d9e4;
      --button-primary-color-hover: #424e6a;
      --button-primary-border: none;
      --button-secondary-color: #fffc6c;
      --button-secondary-color-dark: #b9b500;
      --button-secondary-color-light: #6c6a00;
      --button-secondary-color-hover: #fffb3e;
      --button-secondary-border: none;
      --button-anchor-color: #f3c8ad;
      --button-anchor-color-dark: #734922;
      --button-anchor-color-light: #4c3016;
      --button-anchor-color-hover: #f1bfa0;
      --button-anchor-border: 1px solid #8c633c;
      animation: fade-in .8s ease-in forwards;
    }

    a {
      color: white;
      padding: 1rem;
    }

    img {
      margin: .5rem auto;
      height: auto;
      width: 65%;
      border-radius: 10px;
      animation: fade-in-up .5s ease forwards;
    }
  }

}

@media screen and (max-width: 800px) {
  .Resume {
    .resume-container {

      img {
        margin: 0 auto;
        height: auto;
        width: 85%;
      }
    }
  }
}


@keyframes fade-in-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
