$color1: #162447;
$color2: #1f4068;
$color3: #1b1b2f;
$color4: #e43f5a;
$color5: white;

.Tech {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  animation: fade-down 1s forwards;

  .one {
    animation: fade 0.5s ease-in;
  }

  .two {
    animation: fade 2s ease-in;
  }

  .three {
    animation: fade 3s ease-in;
  }

  .four {
    animation: fade 4s ease-in;
  }

  .tech-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
    width: 30%;
    height: 45%;

    h3 {
      color: $color4;
      margin: 0;
    }

    ul {
      width: 10rem;
      background-color: #2c2c3f;
      padding: 1rem;
      border-radius: 20px;
      list-style: none;

      li {
        color: white;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .Tech {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    animation: fade-down 1s forwards;

    .tech-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      width: 85%;
      height: max-content;

      ul {
        width: 90%;
      }
    }
  }
}

@keyframes fade-i {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
