@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap");

$color1: #162447;
$color2: #1f4068;
$color3: #1b1b2f;
$color4: #e43f5a;
$color5: white;

.App {
  font-family: "Montserrat";
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: #242326;
  overflow-y: scroll;
  overflow-x: hidden;
}
